.pos .pos-clave-align {
    text-align: center;
    font-size: 10px;
}

.js_skipMH{
    line-height: 32px;
    background: rgb(230, 230, 230);
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
    transition: all 150ms linear;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 3px 13px;
    font-size: 20px;
    margin: 5px;
}